.body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 282px;
    background-image: url(../Assests/Images/connect1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2A8FC2;
    .main{
        // display: flex;
        flex-wrap: wrap;
        .first{
            font-size: 100px;
            line-height: 121px;
            color: white;
            font-weight: 900;
        }
        .second{
            font-size: 26px;
            font-weight: 400;
            line-height: 33px;
            color: white;
          }
    }
}